In [204]:
import pandas as pd
import numpy as np

In [430]:
df = pd.read_csv("popagesex2015.csv", header = 4, 
                 names=['gender', 'age', 'pop10','pop11','pop12', 'pop13',
                        'pop14', 'pop15'],
                 converters = {'gender': str}).replace({"gender" : {'0': "both", '1': "male", '2': "female"}})[
                 pd.read_csv("popagesex2015.csv", header = 4,names=['gender', 'age', 'pop10','pop11','pop12', 'pop13','pop14', 'pop15'])['age']<999
                             ].set_index(["gender", "age"])

In [429]:
# Question 3b(ii)
df.ix[['male']].groupby(level =['gender']).sum()/df.ix[['male', 'female']].sum()

           pop10     pop11     pop12     pop13     pop14     pop15
gender
male    0.491642  0.491763  0.491945  0.492077  0.492166  0.492284

In [418]:
# Question 3b(iii)
pop_by_age = df.ix['both'].sum(axis=1).groupby(level = 'age').sum()/df.ix['both'].sum(axis=1).sum()